* {
  font-family: 'Lato', 'Open Sans', Helvetica, sans-serif;
  box-sizing: border-box;
}

header {
  padding: 2rem 2%;
  margin-bottom: 4rem;
  background-color: #3498db;
  box-shadow: 0 2px 4px rgba(20,20,20,0.3);
}

.logo {
  float: left;
}

.logo img {
  max-width: 16rem;
}

nav {
  float: right;
  padding-top: 2.25rem;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  font-weight: 100;
  color: #fff;
  margin-right: 2.5rem;
}

nav a.active-nav {
  position: relative;
}

nav a.active-nav::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255,255,255,0.7);
}

.notification-icon {
  position: relative;
  z-index: 1;
  margin-right: 4rem;
}

.notification-icon.active-nav::after {
  border-bottom: none;
}

.notification-icon::before {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: -15px;
  height: 4rem;
  width: 4rem;
  background-color: #e74c3c;
  border-radius: 100%;
  z-index: -1;
}

nav a:hover, nav a:active, nav a:focus, nav a:visited {
  color: #fff;
  text-decoration: none;
}

nav a:last-child {
  margin-right: 0;
}

#signin, #signup, #update{
  width: 400px;
  margin: 0 auto;
}

.slideThree {
  width: 114px;
  height: 26px;
  background: #EAECEE;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}
.slideThree:after {
    content: 'OFF';
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px 'Lato', Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
  }
.slideThree:before {
    content: 'CLIMB';
    color: #e74c3c;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px 'Lato', Arial, sans-serif;
    font-weight: bold;
}
.slideThree label {
    display: block;
    width: 54px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}
.slideThree input[type=checkbox] {
    visibility: hidden;
}
.slideThree input[type=checkbox]:checked + label {
      left: 56px;
}
.switch {
  margin-bottom: 4rem;
}
/*.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #e74c3c !important;
}*/
.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid #3498db;
    color: #3498db;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #e74c3c;
    border-color: #e74c3c;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #e74c3c;
    color: #e74c3c;
    box-shadow: none;
}
