<div id='signup'>
  <h1>sign up</h1>
  <form name="signup-form" ng-submit='signup()'>
    <div class="form-group">
      <!-- <label for="email-address">Username</label> -->
      <input type='text' class="form-control" id="username" ng-model='user.username' placeholder="Username">
      <!-- <label for="password">Password</label> -->
      <input type="password" class="form-control" id="password" ng-model='user.password' placeholder="Password">
      <button type="submit" class="btn btn-default">sign up</button>
    </div>
  </form>
</div>
