<div id="signup">
  <h1>sign up</h1>
  <form name="signup-form" ng-submit="signup()">
    <div class="form-group">
      <input type="text" class="form-control" id="username" ng-model="user.username" placeholder="Username">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Password">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-block">sign up</button>
    </div>
  </form>
  <a href="#/signin">Already have an account?...</a>
</div>
